<h3>New Item</h3>
<form>
  <div class='form-group'>
    <label for="itemName">Name</label>
    {{input value=itemName id='itemName'}}
  </div>
  <div class='form-group'>
    <label for="description">Description</label>
    {{input value=description id='description'}}
  </div>
  <div class='form-group'>
    <label for="price">$Price$</label>
    {{input value=price type='number' id='price'}}
  </div>
  <button {{action 'saveItem'}}>Save</button>
</form>
