  <h4>{{item.itemName}}</h4>
  <strong>${{item.price}}</strong>
  <p>{{item.description}}</p>
  <p>{{#link-to 'item' item.id}}More details {{/link-to}}</p>
  <button {{action 'addToCart' item}} class='item-tile-button'>Add to Cart</button>
