<h3> Leave Feedback</h3>
<form>
  <div class="form-group">
    <label for="userName">User Name</label>
    {{input value=userName id='userName'}}
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    {{input value=content id=[content]}}
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    {{input value=rating id=[rating] type='number' min="1" max="5" required="required"}}
  </div>
  <button {{action 'saveFeedback'}}>Save</button>
</form>
