<h2>Your Shopping Cart</h2>

{{#each shoppingCart.items as |item|}}
  <li>{{item.itemName}} ---- ${{item.price}}  <button {{action 'removeFromCart' item}}>Remove</button></li>

{{/each}}
<strong>Total: ${{shoppingCart.totalPrice}}</strong>
