.container-item {
  border: 2px solid black;
  margin: 2px;
  width: 32%;
  min-width: 175px;
  padding: 5px;
}

.itemList {
  display: flex;
  flex-wrap:wrap;
}

.pageContent {
  display: flex;
}

.cart {
}

.item-tile-button {
  float: right;
}
